version: "3"
services:
    api:
        image: mohamedalashram/fastapi

        ports:
            - "8000:8000"
        volumes:
            - .:/usr/src/app
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
       
        env_file:
            - ./.env

        depends_on:
            - postgres                

    postgres:
        image: postgres
        environment:
           
            - POSTGRES_PASSWORD=1234
            - POSTGRES_DB=FastApi-Social_Media
        volumes:
            - postgres-db:/var/lib/postgresql/data
        ports:
            - "5432:5432"

volumes:
    postgres-db: